In [39]:
import pandas as pd

In [40]:
df = pd.read_csv('Automobile_data.csv', na_values={
    'price':['?','n.a'],
    'stroke':['?','n.a'],
    'horsepower':['?','n.a'],
    'peak-rpm':['?','n.a'],
    'average-mileage':['?','n.a']})
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845.0
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045.0
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485.0
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470.0
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625.0

#From the given dataset print the first and last five rows

In [41]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [42]:
missing_value =['?','n.a', np.NaN]
df=pd.read_csv('Automobile_data.csv',na_values=missing_value)

In [43]:
df.isnull().sum()

symboling             0
normalized-losses    41
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

In [44]:
df=df.drop('symboling', axis = 1)

#Find the most expensive car company name
#Print most expensive car's company name and price

In [45]:
df['price'].max()

45400.0

In [46]:
most_expensive_car=df[['make','price']][df.price==df['price'].max()]
most_expensive_car

             make    price
74  mercedes-benz  45400.0

#Print all toyota cars details

In [47]:
df.groupby('make').get_group('toyota')

,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
150,87.0,toyota,gas,std,two,hatchback,fwd,front,95.7,158.7,...,92,2bbl,3.05,3.03,9.0,62.0,4800.0,35,39,5348.0
151,87.0,toyota,gas,std,two,hatchback,fwd,front,95.7,158.7,...,92,2bbl,3.05,3.03,9.0,62.0,4800.0,31,38,6338.0
152,74.0,toyota,gas,std,four,hatchback,fwd,front,95.7,158.7,...,92,2bbl,3.05,3.03,9.0,62.0,4800.0,31,38,6488.0
153,77.0,toyota,gas,std,four,wagon,fwd,front,95.7,169.7,...,92,2bbl,3.05,3.03,9.0,62.0,4800.0,31,37,6918.0
154,81.0,toyota,gas,std,four,wagon,4wd,front,95.7,169.7,...,92,2bbl,3.05,3.03,9.0,62.0,4800.0,27,32,7898.0
155,91.0,toyota,gas,std,four,wagon,4wd,front,95.7,169.7,...,92,2bbl,3.05,3.03,9.0,62.0,4800.0,27,32,8778.0
156,91.0,toyota,gas,std,four,sedan,fwd,front,95.7,166.3,...,98,2bbl,3.19,3.03,9.0,70.0,4800.0,30,37,6938.0
157,91.0,toyota,gas,std,four,hatchback,fwd,front,95.7,166.3,...,98,2bbl,3.19,3.03,9.0,70.0,4800.0,30,37,7198.0
158,91.0,toyota,diesel,std,four,sedan,fwd,front,95.7,166.3,...,110,idi,3.27,3.35,22.5,56.0,4500.0,34,36,7898.0
159,91.0,toyota,diesel,std,four,hatchback,fwd,front,95.7,166.3,...,110,idi,3.27,3.35,22.5,56.0,4500.0,38,47,7788.0
160,91.0,toyota,gas,std,four,sedan,fwd,front,95.7,166.3,...,98,2bbl,3.19,3.03,9.0,70.0,4800.0,38,47,7738.0
161,91.0,toyota,gas,std,four,hatchback,fwd,front,95.7,166.3,...,98,2bbl,3.19,3.03,9.0,70.0,4800.0,28,34,8358.0
162,91.0,toyota,gas,std,four,sedan,fwd,front,95.7,166.3,...,98,2bbl,3.19,3.03,9.0,70.0,4800.0,28,34,9258.0
163,168.0,toyota,gas,std,two,sedan,rwd,front,94.5,168.7,...,98,2bbl,3.19,3.03,9.0,70.0,4800.0,29,34,8058.0
164,168.0,toyota,gas,std,two,hatchback,rwd,front,94.5,168.7,...,98,2bbl,3.19,3.03,9.0,70.0,4800.0,29,34,8238.0
165,168.0,toyota,gas,std,two,sedan,rwd,front,94.5,168.7,...,98,mpfi,3.24,3.08,9.4,112.0,6600.0,26,29,9298.0
166,168.0,toyota,gas,std,two,hatchback,rwd,front,94.5,168.7,...,98,mpfi,3.24,3.08,9.4,112.0,6600.0,26,29,9538.0
167,134.0,toyota,gas,std,two,hardtop,rwd,front,98.4,176.2,...,146,mpfi,3.62,3.50,9.3,116.0,4800.0,24,30,8449.0
168,134.0,toyota,gas,std,two,hardtop,rwd,front,98.4,176.2,...,146,mpfi,3.62,3.50,9.3,116.0,4800.0,24,30,9639.0
169,134.0,toyota,gas,std,two,hatchback,rwd,front,98.4,176.2,...,146,mpfi,3.62,3.50,9.3,116.0,4800.0,24,30,9989.0
170,134.0,toyota,gas,std,two,hardtop,rwd,front,98.4,176.2,...,146,mpfi,3.62,3.50,9.3,116.0,4800.0,24,30,11199.0
171,134.0,toyota,gas,std,two,hatchback,rwd,front,98.4,176.2,...,146,mpfi,3.62,3.50,9.3,116.0,4800.0,24,30,11549.0
172,134.0,toyota,gas,std,two,convertible,rwd,front,98.4,176.2,...,146,mpfi,3.62,3.50,9.3,116.0,4800.0,24,30,17669.0
173,65.0,toyota,gas,std,four,sedan,fwd,front,102.4,175.6,...,122,mpfi,3.31,3.54,8.7,92.0,4200.0,29,34,8948.0
174,65.0,toyota,diesel,turbo,four,sedan,fwd,front,102.4,175.6,...,110,idi,3.27,3.35,22.5,73.0,4500.0,30,33,10698.0
175,65.0,toyota,gas,std,four,hatchback,fwd,front,102.4,175.6,...,122,mpfi,3.31,3.54,8.7,92.0,4200.0,27,32,9988.0
176,65.0,toyota,gas,std,four,sedan,fwd,front,102.4,175.6,...,122,mpfi,3.31,3.54,8.7,92.0,4200.0,27,32,10898.0
177,65.0,toyota,gas,std,four,hatchback,fwd,front,102.4,175.6,...,122,mpfi,3.31,3.54,8.7,92.0,4200.0,27,32,11248.0
178,197.0,toyota,gas,std,two,hatchback,rwd,front,102.9,183.5,...,171,mpfi,3.27,3.35,9.3,161.0,5200.0,20,24,16558.0
179,197.0,toyota,gas,std,two,hatchback,rwd,front,102.9,183.5,...,171,mpfi,3.27,3.35,9.3,161.0,5200.0,19,24,15998.0
180,90.0,toyota,gas,std,four,sedan,rwd,front,104.5,187.8,...,171,mpfi,3.27,3.35,9.2,156.0,5200.0,20,24,15690.0
181,NaN,toyota,gas,std,four,wagon,rwd,front,104.5,187.8,...,161,mpfi,3.27,3.35,9.2,156.0,5200.0,19,24,15750.0

# Count total cars per make

In [48]:
df['make'].value_counts()

make
toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
volkswagen       12
subaru           12
peugot           11
volvo            11
dodge             9
mercedes-benz     8
bmw               8
audi              7
plymouth          7
saab              6
porsche           5
isuzu             4
jaguar            3
chevrolet         3
alfa-romero       3
renault           2
mercury           1
Name: count, dtype: int64

# Find each company's highest price car

In [49]:
import warnings
warnings.filterwarnings('ignore')

In [50]:
df.groupby('make')[['make','price']].max()

                        make    price
make
alfa-romero      alfa-romero  16500.0
audi                    audi  23875.0
bmw                      bmw  41315.0
chevrolet          chevrolet   6575.0
dodge                  dodge  12964.0
honda                  honda  12945.0
isuzu                  isuzu  11048.0
jaguar                jaguar  36000.0
mazda                  mazda  18344.0
mercedes-benz  mercedes-benz  45400.0
mercury              mercury  16503.0
mitsubishi        mitsubishi  14869.0
nissan                nissan  19699.0
peugot                peugot  18150.0
plymouth            plymouth  12764.0
porsche              porsche  37028.0
renault              renault   9895.0
saab                    saab  18620.0
subaru                subaru  11694.0
toyota                toyota  17669.0
volkswagen        volkswagen  13845.0
volvo                  volvo  22625.0

# Sort all cars by Price column

In [ ]:
df.sort_values('price', ascending = False)

,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
74,NaN,mercedes-benz,gas,std,two,hardtop,rwd,front,112.0,199.2,...,304,mpfi,3.80,3.35,8.0,184.0,4500.0,14,16,45400.0
16,NaN,bmw,gas,std,two,sedan,rwd,front,103.5,193.8,...,209,mpfi,3.62,3.39,8.0,182.0,5400.0,16,22,41315.0
73,NaN,mercedes-benz,gas,std,four,sedan,rwd,front,120.9,208.1,...,308,mpfi,3.80,3.35,8.0,184.0,4500.0,14,16,40960.0
128,NaN,porsche,gas,std,two,convertible,rwd,rear,89.5,168.9,...,194,mpfi,3.74,2.90,9.5,207.0,5900.0,17,25,37028.0
17,NaN,bmw,gas,std,four,sedan,rwd,front,110.0,197.0,...,209,mpfi,3.62,3.39,8.0,182.0,5400.0,15,20,36880.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,83.0,subaru,gas,std,two,hatchback,fwd,front,93.7,156.9,...,97,2bbl,3.62,2.36,9.0,69.0,4900.0,31,36,5118.0
9,NaN,audi,gas,turbo,two,hatchback,4wd,front,99.5,178.2,...,131,mpfi,3.13,3.40,7.0,160.0,5500.0,16,22,NaN
44,NaN,isuzu,gas,std,two,sedan,fwd,front,94.5,155.9,...,90,2bbl,3.03,3.11,9.6,70.0,5400.0,38,43,NaN
45,NaN,isuzu,gas,std,four,sedan,fwd,front,94.5,155.9,...,90,2bbl,3.03,3.11,9.6,70.0,5400.0,38,43,NaN
129,NaN,porsche,gas,std,two,hatchback,rwd,front,98.4,175.7,...,203,mpfi,3.94,3.11,10.0,288.0,5750.0,17,28,NaN

#Concatenate two data frames using the following conditions

In [54]:
GermanCars = {'make':['Ford','Mercedes','BMV', 'Audi'], 'Price':[2384,171995,135925,71400]}
japaneseCars = {'make':['Toyota','Honda','Nissan','Mitsubishi'], 'Price':[29995,23600,61500,58900]}

In [53]:
germanCars=pd.DataFrame.from_dict(GermanCars)

In [55]:
germanCars

       make   Price
0      Ford    2384
1  Mercedes  171995
2       BMV  135925
3      Audi   71400

In [57]:
japaneseCars=pd.DataFrame.from_dict(japaneseCars)
japaneseCars

         make  Price
0      Toyota  29995
1       Honda  23600
2      Nissan  61500
3  Mitsubishi  58900

In [58]:
carsDF=pd.concat([germanCars,japaneseCars],keys=['Germany','Japan'])
carsDF

                 make   Price
Germany 0        Ford    2384
        1    Mercedes  171995
        2         BMV  135925
        3        Audi   71400
Japan   0      Toyota   29995
        1       Honda   23600
        2      Nissan   61500
        3  Mitsubishi   58900

#Merge two data frames using the following condition

In [59]:
Car_Price = {'make':['Toyota','Honda','BMV','Audi'], 'Price':[29995,23600,61500,58900]}
car_HorsePower = {'make':['Toyota','Honda','BMV','Audi'], 'Horsepower':[141,80,182,160]}

In [60]:
carPrice=pd.DataFrame.from_dict(Car_Price)
carPrice

     make  Price
0  Toyota  29995
1   Honda  23600
2     BMV  61500
3    Audi  58900

In [61]:
carHorsePower=pd.DataFrame.from_dict(car_HorsePower)
carHorsePower

     make  Horsepower
0  Toyota         141
1   Honda          80
2     BMV         182
3    Audi         160

In [62]:
carsDF=pd.merge(carPrice, carHorsePower, on ='make')
carsDF

     make  Price  Horsepower
0  Toyota  29995         141
1   Honda  23600          80
2     BMV  61500         182
3    Audi  58900         160