In [3]:
import pandas as pd

df = pd.read_csv("Health_care_workers.csv")
df

,start,end,Interviewer number,Date,Serial number,Facility MFL Code,Health care worker number,1. What is your year of Birth?,2. What is you sex?,3 (a) What is you highest level of training in nursing?,...,_id,_uuid,_submission_time,_validation_status,_notes,_status,_submitted_by,__version__,_tags,_index
0,2024-02-22,2024-02-22,1,2024-02-22,1,11152,1,1995-01-21,Female,Diploma/HND,...,314878194,a06520c7-5979-42de-9dc6-7acbdfe4ee0b,2024-02-22,NaN,NaN,submitted_via_web,NaN,vBGakqMB4iDT55Be34kbSN,NaN,346
1,2024-02-22,2024-02-22,1,2024-02-22,1,23409,1,1992-04-28,Male,Diploma/HND,...,314887934,8411bfca-05a7-4903-a5fc-01b29bfa6452,2024-02-22,NaN,NaN,submitted_via_web,NaN,vBGakqMB4iDT55Be34kbSN,NaN,347
2,2024-02-22,2024-02-22,1,2024-02-22,1,23212,1,1996-02-22,Male,Diploma/HND,...,314891683,172d3512-82a2-4eac-859c-65db8a0c0fb0,2024-02-22,NaN,NaN,submitted_via_web,NaN,vBGakqMB4iDT55Be34kbSN,NaN,348
3,2023-02-02,2024-02-22,1,2024-02-22,1,23408,1,1996-07-07,Male,Diploma/HND,...,314891801,02e4ec13-75be-4b6f-8fde-cafe25a67488,2024-02-22,NaN,NaN,submitted_via_web,NaN,vBGakqMB4iDT55Be34kbSN,NaN,349
4,2024-02-22,2024-02-22,1,2024-02-22,1,10191,1,1976-05-25,Male,Diploma/HND,...,314892194,dbe62362-5aa2-4525-85de-6632ed188c45,2024-02-22,NaN,NaN,submitted_via_web,NaN,vBGakqMB4iDT55Be34kbSN,NaN,350
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,2024-02-29,2024-02-29,2,2024-02-29,2,10987,2,1989-03-17,Female,Diploma/HND,...,317265867,06b1cea0-6927-471b-8966-7ecd21b0405d,2024-02-29,NaN,NaN,submitted_via_web,NaN,vBGakqMB4iDT55Be34kbSN,NaN,432
69,2024-03-01,2024-03-01,2,2024-03-01,2,10987,2,1983-07-15,Male,Diploma/HND,...,317349108,cc27b75c-a2a9-4f1a-bf6b-69f539152546,2024-03-01,NaN,NaN,submitted_via_web,NaN,vBGakqMB4iDT55Be34kbSN,NaN,433
70,2024-03-01,2024-03-01,2,2024-03-01,2,10454,2,1965-08-25,Male,Diploma/HND,...,317379237,983d7207-73e4-4916-94eb-130d8a59167d,2024-03-01,NaN,NaN,submitted_via_web,NaN,vBGakqMB4iDT55Be34kbSN,NaN,434
71,2024-03-01,2024-03-01,1,2024-02-29,1,Nyakianga,1,1993-04-10,Female,Diploma/HND,...,317506532,b0f5a5b7-041a-4a90-8cc5-52d4a4a7b5b0,2024-03-01,NaN,NaN,submitted_via_web,NaN,vBGakqMB4iDT55Be34kbSN,NaN,435
72,2024-02-23,2024-03-01,1,2024-02-23,1,10892,1,1989-05-05,Female,Diploma/HND,...,317516708,b6038dcf-29bc-4da2-a98a-e3d2733ed9fc,2024-03-01,NaN,NaN,submitted_via_web,NaN,vBGakqMB4iDT55Be34kbSN,NaN,436

In [4]:
df.head()

,start,end,Interviewer number,Date,Serial number,Facility MFL Code,Health care worker number,1. What is your year of Birth?,2. What is you sex?,3 (a) What is you highest level of training in nursing?,...,_id,_uuid,_submission_time,_validation_status,_notes,_status,_submitted_by,__version__,_tags,_index
0,2024-02-22,2024-02-22,1,2024-02-22,1,11152,1,1995-01-21,Female,Diploma/HND,...,314878194,a06520c7-5979-42de-9dc6-7acbdfe4ee0b,2024-02-22,NaN,NaN,submitted_via_web,NaN,vBGakqMB4iDT55Be34kbSN,NaN,346
1,2024-02-22,2024-02-22,1,2024-02-22,1,23409,1,1992-04-28,Male,Diploma/HND,...,314887934,8411bfca-05a7-4903-a5fc-01b29bfa6452,2024-02-22,NaN,NaN,submitted_via_web,NaN,vBGakqMB4iDT55Be34kbSN,NaN,347
2,2024-02-22,2024-02-22,1,2024-02-22,1,23212,1,1996-02-22,Male,Diploma/HND,...,314891683,172d3512-82a2-4eac-859c-65db8a0c0fb0,2024-02-22,NaN,NaN,submitted_via_web,NaN,vBGakqMB4iDT55Be34kbSN,NaN,348
3,2023-02-02,2024-02-22,1,2024-02-22,1,23408,1,1996-07-07,Male,Diploma/HND,...,314891801,02e4ec13-75be-4b6f-8fde-cafe25a67488,2024-02-22,NaN,NaN,submitted_via_web,NaN,vBGakqMB4iDT55Be34kbSN,NaN,349
4,2024-02-22,2024-02-22,1,2024-02-22,1,10191,1,1976-05-25,Male,Diploma/HND,...,314892194,dbe62362-5aa2-4525-85de-6632ed188c45,2024-02-22,NaN,NaN,submitted_via_web,NaN,vBGakqMB4iDT55Be34kbSN,NaN,350

In [5]:
df = df.drop('start', axis = 1)

In [6]:
df = df.drop('end', axis = 1)

In [7]:
df.head()

,Interviewer number,Date,Serial number,Facility MFL Code,Health care worker number,1. What is your year of Birth?,2. What is you sex?,3 (a) What is you highest level of training in nursing?,(b) Year of qualification,"4. (a) Have you received any training in oral health (seminar, workshop, webinar)?",...,_id,_uuid,_submission_time,_validation_status,_notes,_status,_submitted_by,__version__,_tags,_index
0,1,2024-02-22,1,11152,1,1995-01-21,Female,Diploma/HND,2017-04-30,Yes,...,314878194,a06520c7-5979-42de-9dc6-7acbdfe4ee0b,2024-02-22,NaN,NaN,submitted_via_web,NaN,vBGakqMB4iDT55Be34kbSN,NaN,346
1,1,2024-02-22,1,23409,1,1992-04-28,Male,Diploma/HND,2015-08-28,Yes,...,314887934,8411bfca-05a7-4903-a5fc-01b29bfa6452,2024-02-22,NaN,NaN,submitted_via_web,NaN,vBGakqMB4iDT55Be34kbSN,NaN,347
2,1,2024-02-22,1,23212,1,1996-02-22,Male,Diploma/HND,2014-02-22,Yes,...,314891683,172d3512-82a2-4eac-859c-65db8a0c0fb0,2024-02-22,NaN,NaN,submitted_via_web,NaN,vBGakqMB4iDT55Be34kbSN,NaN,348
3,1,2024-02-22,1,23408,1,1996-07-07,Male,Diploma/HND,2019-12-05,Yes,...,314891801,02e4ec13-75be-4b6f-8fde-cafe25a67488,2024-02-22,NaN,NaN,submitted_via_web,NaN,vBGakqMB4iDT55Be34kbSN,NaN,349
4,1,2024-02-22,1,10191,1,1976-05-25,Male,Diploma/HND,2002-09-30,Yes,...,314892194,dbe62362-5aa2-4525-85de-6632ed188c45,2024-02-22,NaN,NaN,submitted_via_web,NaN,vBGakqMB4iDT55Be34kbSN,NaN,350

In [8]:
df.describe()

,Interviewer number,Serial number,Health care worker number,(d) Why have you not received any training?,(Please tick the MOST applicable against the choices given),7. How many deciduous teeth are there in total?,How would you rate your ability to perform the following dental services? (please use a tick corresponding to the scale provided),THANK YOU FOR YOUR TIME,_id,_validation_status,_notes,_submitted_by,_tags,_index
count,73.000000,73.000000,73.000000,0.0,0.0,73.000000,0.0,0.0,7.300000e+01,0.0,0.0,0.0,0.0,73.000000
mean,1.465753,1.465753,1.465753,NaN,NaN,20.301370,NaN,NaN,3.162401e+08,NaN,NaN,NaN,NaN,388.191781
std,0.502278,0.502278,0.502278,NaN,NaN,3.103246,NaN,NaN,1.038726e+06,NaN,NaN,NaN,NaN,26.526013
min,1.000000,1.000000,1.000000,NaN,NaN,10.000000,NaN,NaN,3.148782e+08,NaN,NaN,NaN,NaN,346.000000
25%,1.000000,1.000000,1.000000,NaN,NaN,20.000000,NaN,NaN,3.149743e+08,NaN,NaN,NaN,NaN,364.000000
50%,1.000000,1.000000,1.000000,NaN,NaN,20.000000,NaN,NaN,3.170196e+08,NaN,NaN,NaN,NaN,388.000000
75%,2.000000,2.000000,2.000000,NaN,NaN,20.000000,NaN,NaN,3.170491e+08,NaN,NaN,NaN,NaN,409.000000
max,2.000000,2.000000,2.000000,NaN,NaN,32.000000,NaN,NaN,3.175167e+08,NaN,NaN,NaN,NaN,436.000000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73 entries, 0 to 72
Data columns (total 52 columns):
 #   Column                                                                                                                             Non-Null Count  Dtype
---  ------                                                                                                                             --------------  -----
 0   Interviewer number                                                                                                                 73 non-null     int64
 1   Date                                                                                                                               73 non-null     object
 2   Serial number                                                                                                                      73 non-null     int64
 3   Facility MFL Code                                                                                                                  73 non-null     object
 4   Health care worker number                                                                                                          73 non-null     int64
 5   1. What is your year of Birth?                                                                                                     73 non-null     object
 6   2. What is you sex?                                                                                                                73 non-null     object
 7   3 (a) What is you highest level of training in nursing?                                                                            73 non-null     object
 8   (b) Year of qualification                                                                                                          73 non-null     object
 9   4. (a) Have you received any training in oral health (seminar, workshop, webinar)?                                                 73 non-null     object
 10  (b) When (year) was the last training you received?                                                                                73 non-null     object
 11  (c) What topic(s) were covered in the training?                                                                                    73 non-null     object
 12  (d) Why have you not received any training?                                                                                        0 non-null      float64
 13  (Please tick the MOST applicable against the choices given)                                                                        0 non-null      float64
 14  5. What is the expected eruption age for first tooth in children?                                                                  73 non-null     object
 15  6. Which of the following are associated with teeth eruption?                                                                      73 non-null     object
 16  7. How many deciduous teeth are there in total?                                                                                    73 non-null     int64
 17  8. When should one start cleaning a child’s teeth?                                                                                 73 non-null     object
 18  9. What is the best suited to clean children teeth?                                                                                73 non-null     object
 19  10. The following are risk factors for dental caries in children except?                                                           73 non-null     object
 20  11. The following are indicators of dental decay EXCEPT?                                                                           73 non-null     object
 21  12. The following can cause gum disease or mucosal lesions in childhood EXCEPT?                                                    73 non-null     object
 22  13. Which of the following condition can manifest in the oral cavity?                                                              73 non-null     object
 23  14. Which of the following are manifestations of HIV/AIDS in the oral cavity?                                                      73 non-null     object
 24  15. Which is the recommended toothpaste for children?                                                                              73 non-null     object
 25  16. Which of following is NOT true about recording and reporting childhood dental disease?                                         73 non-null     object
 26  17. Which of the following is TRUE about a tongue tie?                                                                             73 non-null     object
 27  18. Harmful traditional practices include the following EXCEPT?                                                                    73 non-null     object
 28  19. What is the recommended frequency of tooth brushing for children?                                                              73 non-null     object
 29  20. When should a child be the first visiting to a dentist?                                                                        73 non-null     object
 30  How would you rate your ability to perform the following dental services? (please use a tick corresponding to the scale provided)  0 non-null      float64
 31  21. Provide oral health education to parents                                                                                       73 non-null     object
 32  22. Examine the child mouth                                                                                                        73 non-null     object
 33  23. Identify dental caries in children                                                                                             73 non-null     object
 34  24. Identify gum diseases in children                                                                                              73 non-null     object
 35  25. Identify oral lesions in children                                                                                              73 non-null     object
 36  26. Management of oral pain (emergency) in children                                                                                72 non-null     object
 37  27. Referral children for dental services                                                                                          73 non-null     object
 38  28. Capture dental service in the daily activity register                                                                          73 non-null     object
 39  29. Report dental service/condition in the reporting tool                                                                          73 non-null     object
 40  30. Record child oral health information in the mother child booklet                                                               72 non-null     object
 41  THANK YOU FOR YOUR TIME                                                                                                            0 non-null      float64
 42  _id                                                                                                                                73 non-null     int64
 43  _uuid                                                                                                                              73 non-null     object
 44  _submission_time                                                                                                                   73 non-null     object
 45  _validation_status                                                                                                                 0 non-null      float64
 46  _notes                                                                                                                             0 non-null      float64
 47  _status                                                                                                                            73 non-null     object
 48  _submitted_by                                                                                                                      0 non-null      float64
 49  __version__                                                                                                                        73 non-null     object
 50  _tags                                                                                                                              0 non-null      float64
 51  _index                                                                                                                             73 non-null     int64
dtypes: float64(8), int64(6), object(38)
memory usage: 29.8+ KB

In [10]:
# Total number of Males Vs Females

# How many times each value is repeated in a given dataset
df['2. What is you sex?'].value_counts()

2. What is you sex?
Female    55
Male      18
Name: count, dtype: int64

In [11]:
# 3 (a) What is you highest level of training in nursing?
df['3 (a) What is you highest level of training in nursing?'].value_counts()

3 (a) What is you highest level of training in nursing?
Diploma/HND    62
Certificate     6
Bachelors       5
Name: count, dtype: int64

In [12]:
df = df.rename(columns = {'3 (a) What is you highest level of training in nursing?': 'HighestLevelTraining','(b) Year of qualification':'YearQualified'})

In [13]:
df.head()

,Interviewer number,Date,Serial number,Facility MFL Code,Health care worker number,1. What is your year of Birth?,2. What is you sex?,HighestLevelTraining,YearQualified,"4. (a) Have you received any training in oral health (seminar, workshop, webinar)?",...,_id,_uuid,_submission_time,_validation_status,_notes,_status,_submitted_by,__version__,_tags,_index
0,1,2024-02-22,1,11152,1,1995-01-21,Female,Diploma/HND,2017-04-30,Yes,...,314878194,a06520c7-5979-42de-9dc6-7acbdfe4ee0b,2024-02-22,NaN,NaN,submitted_via_web,NaN,vBGakqMB4iDT55Be34kbSN,NaN,346
1,1,2024-02-22,1,23409,1,1992-04-28,Male,Diploma/HND,2015-08-28,Yes,...,314887934,8411bfca-05a7-4903-a5fc-01b29bfa6452,2024-02-22,NaN,NaN,submitted_via_web,NaN,vBGakqMB4iDT55Be34kbSN,NaN,347
2,1,2024-02-22,1,23212,1,1996-02-22,Male,Diploma/HND,2014-02-22,Yes,...,314891683,172d3512-82a2-4eac-859c-65db8a0c0fb0,2024-02-22,NaN,NaN,submitted_via_web,NaN,vBGakqMB4iDT55Be34kbSN,NaN,348
3,1,2024-02-22,1,23408,1,1996-07-07,Male,Diploma/HND,2019-12-05,Yes,...,314891801,02e4ec13-75be-4b6f-8fde-cafe25a67488,2024-02-22,NaN,NaN,submitted_via_web,NaN,vBGakqMB4iDT55Be34kbSN,NaN,349
4,1,2024-02-22,1,10191,1,1976-05-25,Male,Diploma/HND,2002-09-30,Yes,...,314892194,dbe62362-5aa2-4525-85de-6632ed188c45,2024-02-22,NaN,NaN,submitted_via_web,NaN,vBGakqMB4iDT55Be34kbSN,NaN,350

In [14]:
format_dictionary = {'YearQualified':'{:%m-%Y}'}
df.style.format(format_dictionary).hide_index()

AttributeError: 'Styler' object has no attribute 'hide_index'

In [ ]:
# cross tabulation by highest level of training and year of qualification

df1 = pd.crosstab(df['HighestLevelTraining'], df['YearQualified'])
print(df1)

YearQualified         1988-01-01  1990-04-30  1992-12-01  1993-02-22  \
HighestLevelTraining
Bachelors                      0           0           0           0
Certificate                    0           1           1           1
Diploma/HND                    1           0           0           0

YearQualified         1993-02-28  1994-03-22  1995-02-28  2002-02-22  \
HighestLevelTraining
Bachelors                      0           0           1           0
Certificate                    1           1           0           0
Diploma/HND                    0           0           1           1

YearQualified         2002-09-30  2004-02-29  ...  2019-02-23  2019-02-28  \
HighestLevelTraining                          ...
Bachelors                      0           0  ...           0           0
Certificate                    0           1  ...           0           0
Diploma/HND                    2           0  ...           1           1

YearQualified         2019-12-04  2019-12-05  2020-08-14  2022-11-16  \
HighestLevelTraining
Bachelors                      0           0           1           0
Certificate                    0           0           0           0
Diploma/HND                    1           3           0           1

YearQualified         2023-11-06  2024-02-13  2024-02-29  2024-03-01
HighestLevelTraining
Bachelors                      0           0           0           0
Certificate                    0           0           0           0
Diploma/HND                    1           1           2           1

[3 rows x 60 columns]

In [ ]:
# 4. (a) Have you received any training in oral health (seminar, workshop, webinar)?
df['4. (a) Have you received any training in oral health (seminar, workshop, webinar)?'].value_counts()

4. (a) Have you received any training in oral health (seminar, workshop, webinar)?
Yes    73
Name: count, dtype: int64

In [ ]:
# (b) When (year) was the last training you received?

In [ ]:
# (c) What topic(s) were covered in the training?
df['(c) What topic(s) were covered in the training?'].nunique()
#df['(c) What topic(s) were covered in the training?'].value_counts()

47

In [ ]:
# 5. What is the expected eruption age for first tooth in children?
df['5. What is the expected eruption age for first tooth in children?'].value_counts()

5. What is the expected eruption age for first tooth in children?
5-6 Months    63
2-3 Months     6
12 Months      4
Name: count, dtype: int64

In [ ]:
df['7. How many deciduous teeth are there in total?'].value_counts()

7. How many deciduous teeth are there in total?
20    61
24     7
10     3
32     2
Name: count, dtype: int64

In [ ]:
df['8. When should one start cleaning a child’s teeth?'].value_counts()

8. When should one start cleaning a child’s teeth?
When first deciduous teeth erupt           61
When child is weaned                        9
At the age of 2 years                       2
After eruption of the all primary teeth     1
Name: count, dtype: int64

In [ ]:
df['9. What is the best suited to clean children teeth?'].value_counts()

9. What is the best suited to clean children teeth?
Soft tooth brush       58
Soft piece of cloth    15
Name: count, dtype: int64

In [ ]:
df['10. The following are risk factors for dental caries in children except?'].value_counts()

10. The following are risk factors for dental caries in children except?
Extended breast feeding       55
Poor maternal oral hygiene    11
Lack of tooth brushing         6
Bottle feeding                 1
Name: count, dtype: int64

In [ ]:
df['11. The following are indicators of dental decay EXCEPT?'].value_counts()

11. The following are indicators of dental decay EXCEPT?
Yellow discoloration    38
White spots on teeth    26
Pain from teeth          6
Cavity on teeth          3
Name: count, dtype: int64

In [ ]:
df['12. The following can cause gum disease or mucosal lesions in childhood EXCEPT?'].value_counts()

12. The following can cause gum disease or mucosal lesions in childhood EXCEPT?
Hormonal imbalance    42
Erupting teeth        29
Poor oral hygiene      2
Name: count, dtype: int64

In [ ]:
df['13. Which of the following condition can manifest in the oral cavity?'].value_counts()

13. Which of the following condition can manifest in the oral cavity?
All the above    45
HIV/AIDS         14
Scurvy           12
Measles           2
Name: count, dtype: int64

In [ ]:
df['14. Which of the following are manifestations of HIV/AIDS in the oral cavity?'].value_counts()

14. Which of the following are manifestations of HIV/AIDS in the oral cavity?
All the above        36
Oral candidiasis     36
Kaposi’s sarcoma.     1
Name: count, dtype: int64

In [ ]:
df['15. Which is the recommended toothpaste for children?'].value_counts()

15. Which is the recommended toothpaste for children?
Fluoridated toothpaste         54
Reduced fluoride toothpaste    11
Non- fluoridated toothpaste     8
Name: count, dtype: int64

In [ ]:
df['16. Which of following is NOT true about recording and reporting childhood dental disease?'].value_counts()

16. Which of following is NOT true about recording and reporting childhood dental disease?
Only facilities with dental clinic should fill the dental workload in MOH 717    57
Dental conditions should be captured in the outpatient register (MOH 204A)        7
Monthly summaries of the dental diseases should be recorded in MOH 705B           5
Dental services are captured in the mother child booklet                          4
Name: count, dtype: int64

In [ ]:
df['17. Which of the following is TRUE about a tongue tie?'].value_counts()

17. Which of the following is TRUE about a tongue tie?
Can self- relieve by the age of two years    38
It is relieved at 6 weeks                    30
Presents at six months                        4
Can only be identified by the dentist         1
Name: count, dtype: int64

In [ ]:
df['18. Harmful traditional practices include the following EXCEPT?'].value_counts()

18. Harmful traditional practices include the following EXCEPT?
Teeth filing                       35
Application of topical fluoride    34
Uvulectomy                          4
Name: count, dtype: int64

In [ ]:
df['19. What is the recommended frequency of tooth brushing for children?'].value_counts()

19. What is the recommended frequency of tooth brushing for children?
Twice a day    67
Once a day      6
Name: count, dtype: int64

In [ ]:
df['20. When should a child be the first visiting to a dentist?'].value_counts()

20. When should a child be the first visiting to a dentist?
By the age of 1 year       68
By the age of two years     4
By the age of 5 years       1
Name: count, dtype: int64

In [ ]:
df['How would you rate your ability to perform the following dental services? (please use a tick corresponding to the scale provided)'].value_counts()

Series([], Name: count, dtype: int64)

In [ ]:
df['21. Provide oral health education to parents'].value_counts()

21. Provide oral health education to parents
Very Adequate (Does not need assistance)    52
Adequate (Requires some assistance)         21
Name: count, dtype: int64

In [ ]:
df['22. Examine the child mouth'].value_counts()

22. Examine the child mouth
Very Adequate (Does not need assistance)    51
Adequate (Requires some assistance)         22
Name: count, dtype: int64

In [ ]:
df['23. Identify dental caries in children'].value_counts()

23. Identify dental caries in children
Very Adequate (Does not need assistance)    53
Adequate (Requires some assistance)         20
Name: count, dtype: int64

In [ ]:
df['24. Identify gum diseases in children'].value_counts()

24. Identify gum diseases in children
Very Adequate (Does not need assistance)    48
Adequate (Requires some assistance)         25
Name: count, dtype: int64

In [ ]:
df['25. Identify oral lesions in children'].value_counts()

25. Identify oral lesions in children
Very Adequate (Does not need assistance)    56
Adequate (Requires some assistance)         17
Name: count, dtype: int64

In [ ]:
df['26. Management of oral pain (emergency) in children'].value_counts()

26. Management of oral pain (emergency) in children
Very Adequate (Does not need assistance)    43
Adequate (Requires some assistance)         29
Name: count, dtype: int64

In [ ]:
df['27. Referral children for dental services'].value_counts()

27. Referral children for dental services
Very Adequate (Does not need assistance)    53
Adequate (Requires some assistance)         20
Name: count, dtype: int64

In [ ]:
df['28. Capture dental service in the daily activity register'].value_counts()

28. Capture dental service in the daily activity register
Very Adequate (Does not need assistance)    50
Adequate (Requires some assistance)         23
Name: count, dtype: int64

In [ ]:
df['29. Report dental service/condition in the reporting tool'].value_counts()

29. Report dental service/condition in the reporting tool
Very Adequate (Does not need assistance)    52
Adequate (Requires some assistance)         21
Name: count, dtype: int64

In [ ]:
df['30. Record child oral health information in the mother child booklet'].value_counts()

30. Record child oral health information in the mother child booklet
Very Adequate (Does not need assistance)    63
Adequate (Requires some assistance)          8
Inadequate (Will not attempt at all)         1
Name: count, dtype: int64